<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My site</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container" >
    <h1>Quotes to Scrape</h1>
</main>
<div>
    <a href="users/signup">Registration</a>
</div>
<div>
    <a href="users/login">Login</a>
</div>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'quotes_list:create_quote' %}" role="button">Add quote</a></li>
        <li><a href="{% url 'quotes_list:create_author' %}" role="button">Add author</a></li>
    </ul>
    <ul>
        <li>Welcome <b>{{ user.username }}!</b></li>
        <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
    </ul>
    {% else %}
</body>
</html>