<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes to Scrape</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'quotes_list:create-quote' %}" role="button">Add quote</a></li>
            <li><a href="{% url 'quotes_list:create-author' %}" role="button">Add author</a></li>
        </ul>
    </nav>

    {% for quote in quotes %}
    <ul>
        <li>
            <a href="{% url 'quotes_list:author_details' author.id %}" role="button" class="secondary"><s>{{ quote.author }}</s></a>
        </li>
        <li><p>Text: <b>{{quote.quote}}</b></p></li>
        <li><p>Tags: <b>{{quote.tags}}</b></p></li>
    </ul>
    {% endfor %}
</main>
</body>
</html>
